[toolchain]
package_manager = "yarn"

[features]
resolution = true
skip-lint = false

[programs.localnet]
solana_notepad = "4SEcSb6otAn34knmh24DkFkijccdG522t9Kd7XhUXW3y"

[registry]
url = "https://api.apr.dev"

[provider]
cluster = "localnet"
wallet = "~/.config/solana/id.json"

[scripts]
test = "./node_modules/.bin/ts-mocha -p ./tsconfig.json -t 1000000 tests/**/*.ts"
